<ul class="nav nav-tabs justify-content-end">
  <li class="nav-itemn me-auto">
    <a class="nav-link " routerLinkActive="active"
       aria-current="page" routerLink="/">MyApp</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
       routerLink="/games" routerLinkActive="active"
       role="button" aria-expanded="false">Juegos</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLinkActive="active"
             routerLink="/games/add" >Add Game</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
       routerLink="/books" routerLinkActive="active"
       role="button" aria-expanded="false">Books</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item"  routerLinkActive="active"
             routerLink="/games/add">Add Game</a></li>
    </ul>
  </li>
</ul>
